/*----------------
    Guarantees
----------------*/
.guarantees
{
    .grid_row
    {
        --gap_x: var(--block_padding_s);
        --gap_y: var(--block_padding_s);
    }


    .item
    {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_s);

        margin-top: 60px;
        padding-block: 111px var(--block_padding);
        padding-inline: var(--block_padding);

        text-align: center;

        border-radius: var(--border_radius_l);
        background: var(--bg_primary_soft);


        .icon
        {
            position: absolute;
            top: -60px;
            right: 0;
            left: 0;

            align-self: baseline;

            width: calc(100% - var(--block_padding));
            height: 152px;
            margin-inline: auto;


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
                margin-inline: auto;
            }
        }


        .name
        {
            font-family: var(--font_family_secondary);
            font-size: 21px;
            font-weight: 800;
            line-height: 114.286%;
        }


        .desc
        {
            font-size: 13px;
            line-height: 169.231%;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .guarantees
    {
        .grid_row
        {
            --gap_x: var(--inner_gap_l);
            --gap_y: var(--inner_gap_l);
        }


        .item
        {
            padding-block: 100px var(--block_padding_s);
            padding-inline: var(--inner_gap_l);


            .icon
            {
                height: 140px;
            }


            .name
            {
                font-size: 20px;
            }


            .desc
            {
                font-size: var(--font_size_xs);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .guarantees
    {
        .item
        {
            margin-top: 48px;


            .icon
            {
                top: -48px;

                height: 120px;
            }
        }
    }
}



@media (max-width: 767px)
{
    .guarantees
    {
        .grid_row
        {
            --items_per_line: 1;
        }
    }
}
